@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;

  border: 1px solid red;
  border-radius: 2px;
}



.image-container {
  text-align: center;
}


.image {
  max-width: 100%;
  max-height: 350px;
  border-radius: 5px 5px 0 0;
}

.description-container {
  margin-top: 5px;
  padding: 0px 10px;
}

p, ul {
  margin: 0.1em;
}

.price {
  font-weight: bold;
  font-size: 1.5em;
}

.condominio-price {
  font-size: 0.8em;
}

ul.features-list {
  /* list-style: circle; */
  /* display:list-item; */
  /* list-style: none; */
  padding: 0;
  display: flex;
  flex-direction: row;
}

ul.features-list li {
  list-style: none;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  /* float: left; */
}

ul.features-list li:first-child:before {
  /* list-style: none; */
  content: none;
  margin: inherit;
}
ul.features-list li:before {
  /* content: '\ffed'; */
  content: '\25CF';
  margin: 0 0.3em;
  /* margin-bottom: 0.1em; */
  font-size: 0.8em;
}

.description-item {}

.neighborhood-name {
  font-weight: bold;
  font-size: 1.2em;
}

.address {
  font-size: 0.8em;
}

.margin-top-1 {
  margin-top: 5px;
}