<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="author" content="FireFly">
  <meta name="description" content="Arquivo de imoveis para envio a clientes">
  <link rel='stylesheet' href='realEstatesTemplate.css'>
</head>

<body>

  <div class="container">
    <div class="image-container">
      <img class="image" src="https://fotos.apolar.com.br/fotosimoveis/1138_090/1138_100_prd_fac_329075_s.jpg" />
    </div>
    <div class="description-container">
      <p class="price">R$ 3.600</p>
      <p class="condominio-price">Condomínio: R$ 500</p>
      <ul class="features-list margin-top-1">
        <li>3 quartos</li>
        <li>2 vagas</li>
        <li>143m²</li>
      </ul>
      <p class="neighborhood-name">Água Verde</p>
      <p class="address">Rua Coronel Dulcídio - Curitiba PR</p>
      <!-- <h1>Centro</h1>
      <p>Nilo Cairo</p>
      <h3>Referência: 1138</h3>
      <span style="font-family:'Segoe UI Symbol';color:black;font-size:1.5em;">&#x1f3a6; 1 dormitório</span><br>
      <span style="font-family:'Segoe UI Symbol';color:black;font-size:1.5em;">&#x1f539; 1 m² privativos</span><br> -->
    </div>
  </div>

</body>
</html>